$primary-color: #1EA896;
$secondary-color: #F1F1F1;
// $text-color-dark:
$warning-color: #f6a821;
$danger-color: #FF6B6B;
// $success-color:
// $info-color:
$main-font: 'Roboto Condensed',
sans-serif;
$secondary-font: 'Roboto',
sans-serif;