@import './../variables';
header {
    position: fixed;
    display: grid;
    box-shadow: -2px -5px 20px white;
    top: 0;
    left: 0;
    min-height: 60px;
    width: 100vw;
    grid-template-columns: 200px auto;
    background-color: #8da1a2;
    color: white;
    .logo {
        background-color: $warning-color;
        text-align: center;
        padding-top: 15px;
        font-size: 30px;
    }
    .menu {
        .fa-bars {
            margin-top: 15px;
            margin-left: 15px;
            font-size: 25px;
            &:hover {
                color: $warning-color;
                cursor: pointer;
            }
        }
    }
}