@import './../variables';
.notifications {
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 1000;
    font-family: $main-font;
    color: white;
    max-width: 250px;
    div {
        max-height: 100px;
        overflow: scroll;
        padding: 10px 20px;
        border-radius: 3px;
        box-shadow: 1px 1px 20px 0px #5a5353;
        i {
            float: right;
            font-size: 20px;
        }
        &.error {
            background-color: #D64842;
        }
    }
}