<div class="login">
    <div class="box">
        <h1>
            <i class="fa fa-unlock-alt"></i> Login
        </h1>
        <table class="box">
            <tr>
                <td class="top-left"></td>
                <td colspan="2" height="20"></td>
                <td class="top-right"></td>
            </tr>
            <tr>
                <td width="20"></td>
                <td colspan="2"> Username </td>
                <td width="20"></td>
            </tr>
            <tr>
                <td width="20"></td>
                <td colspan="2"> <input type="text"> </td>
                <td width="20"></td>
            </tr>
            <tr>
                <td class="bottom-left"></td>
                <td colspan="2" height="20"></td>
                <td class="bottom-right"></td>
            </tr>
        </table>
    </div>
</div>