<div class="login">
    <div class="box">
        <h1>
            <i class="fa fa-unlock-alt"></i> Login
        </h1>
        <table class="box">
            <tr>
                <td class="top-left"></td>
                <td colspan="2" height="20"></td>
                <td class="top-right"></td>
            </tr>
            <tr>
                <td width="20"></td>
                <td colspan="2"> Username </td>
                <td width="20"></td>
            </tr>
            <tr>
                <td width="20"></td>
                <td colspan="2"> <input type="text" [(ngModel)]="loginForm.username"> </td>
                <td width="20"></td>
            </tr>
            <tr>
                <td width="20"></td>
                <td colspan="2"> Password </td>
                <td width="20"></td>
            </tr>
            <tr>
                <td width="20"></td>
                <td colspan="2"> <input type="password" [(ngModel)]="loginForm.password"> </td>
                <td width="20"></td>
            </tr>
            <tr *ngIf="loginFormError">
                <td width="20"></td>
                <td colspan="2">
                    <span class="error">* {{ loginFormError }}</span>
                </td>
                <td width="20"></td>
            </tr>
            <tr>
                <td width="20"></td>
                <td colspan="2">
                    <button (click)="login()">Login</button>
                </td>
                <td width="20"></td>
            </tr>
            <tr>
                <td class="bottom-left"></td>
                <td colspan="2" height="20"></td>
                <td class="bottom-right"></td>
            </tr>
        </table>
    </div>
</div>