<app-header></app-header>
<div class="wrapper students">
    <app-sidebar></app-sidebar>
    <div class="content">
        <div class="title">
            <h1>
                <i class="fa fa-vcard large"></i> Students <br/>
                <span class="description">Overview of all students list and the class they are assigned to.</span>
            </h1>
        </div>
        <div class="manage panel">
            Constructing Students Panel
        </div>
    </div>
    <app-footer></app-footer>
</div>