<app-header></app-header>
<div class="wrapper classes">
    <app-sidebar></app-sidebar>
    <div class="content">
        <div class="title">
            <h1>
                <i class="fa fa-exchange large"></i> Classes <br/>
                <span class="description">Overview of class and assigning student to / from class.</span>
            </h1>
        </div>
        <div class="manage panel">
            <table>
                <thead>
                    <tr>
                        <th width="20" rowspan="2">#</th>
                        <th rowspan="2">Name <i class="fa fa-arrows-v" (click)="sortData('name')"></i></th>
                        <th colspan="7">Day</th>
                        <th width="80" rowspan="2"></th>
                    </tr>
                    <tr>
                        <th width="45">Mon <i class="fa fa-arrows-v" (click)="sortData('isMonday')"></i></th>
                        <th width="45">Tue <i class="fa fa-arrows-v" (click)="sortData('isTuesday')"></i></th>
                        <th width="45">Wed <i class="fa fa-arrows-v" (click)="sortData('isWednesday')"></i></th>
                        <th width="45">Thu <i class="fa fa-arrows-v" (click)="sortData('isThursday')"></i></th>
                        <th width="45">Fri <i class="fa fa-arrows-v" (click)="sortData('isFriday')"></i></th>
                        <th width="45">Sat <i class="fa fa-arrows-v" (click)="sortData('isSaturday')"></i></th>
                        <th width="45">Sun <i class="fa fa-arrows-v" (click)="sortData('isSunday')"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let class of dummyClasses">
                        <td></td>
                        <td>{{ class.name }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <app-footer></app-footer>
</div>